{% load static %}
<!-- jQuery -->
<script src="{% static 'AdminLTE-master/plugins/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'AdminLTE-master/plugins/bootstrap/js/bootstrap.bundle.min.js' %}">
</script>


<!-- ## Files important for js data table -->
<script src="{% static 'AdminLTE-master/plugins/datatables/jquery.dataTables.min.js' %}"></script>

<script src="{% static 'AdminLTE-master/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}">
</script>

<script src="{% static 'AdminLTE-master/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}">
</script>

<script src="{% static 'AdminLTE-master/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}">
</script>

<script src="{% static 'AdminLTE-master/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}">
</script>

<script src="{% static 'AdminLTE-master/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}">
</script>

<script src="{% static 'AdminLTE-master/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'AdminLTE-master/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'AdminLTE-master/plugins/pdfmake/vfs_fonts.js' %}"></script>

<script src="{% static 'AdminLTE-master/plugins/datatables-buttons/js/buttons.html5.min.js' %}">
</script>

<script src="{% static 'AdminLTE-master/plugins/datatables-buttons/js/buttons.print.min.js' %}">
</script>

<script src="{% static 'AdminLTE-master/plugins/datatables-buttons/js/buttons.colVis.min.js' %}">
</script>



<!-- OPTIONAL SCRIPTS -->
<script src="{% static 'AdminLTE-master/plugins/bootstrap-switch/js/bootstrap-switch.js' %}">
</script>

<script src="{% static 'AdminLTE-master/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}">
</script>

<script src="{% static 'AdminLTE-master/plugins/bootstrap-slider/bootstrap-slider.min.js' %}">
</script>

<script src="{% static 'AdminLTE-master/plugins/chart.js/Chart.min.js' %}">
</script>

<script src="{% static 'AdminLTE-master/plugins/chart.js/Chart.js' %}">
</script>

<script src="{% static 'AdminLTE-master/plugins/flot/jquery.flot.js' %}">
</script>

<script src="{% static 'AdminLTE-master/plugins/flot/plugins/jquery.flot.resize.js' %}">
</script>

<script src="{% static 'AdminLTE-master/plugins/flot/plugins/jquery.flot.pie.js' %}">
</script>



<!--* AdminLTE -->
<!-- <script src="{% static 'AdminLTE-master/dashboard_dist/js/adminlte.js' %}"></script> -->
<script src="{% static 'AdminLTE-master/dashboard_dist/js/adminlte.min.js' %}">
</script>

<!--* AdminLTE for demo purposes -->
<script src="{% static 'AdminLTE-master/dashboard_dist/js/demo.js' %}"></script>

<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{% static 'AdminLTE-master/dashboard_dist/js/pages/dashboard3.js' %}"></script>


