{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

        <div >
            <p >Welcome to</p>

            <form method="POST" action="." >
                <div id="form-wrapper">
                    {% csrf_token %}
                    {% for field in form %}
                    <div >
                        {{field|as_crispy_field}}
                    </div>
                    {% endfor %}
                  <div>  
                  <input  type="submit" value="Login"/>
                  </div>
               </div>
            </form> 
        </div>
        

{% endblock content %}